.d-flex .a1{
    text-decoration: none;
    color: gray;
}
.d-flex .a1 img{
    margin-bottom: 3px;
}
.d-flex span .a1 {
    margin-right: 30px;
}
.d-flex span .a2{
    background-color: #F0E3E7;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(219, 96, 96);
    margin-right: 20px;
}
.d-flex span .a2 img{
    margin-right: 10px;
    margin-bottom: 8px;
}
.hr{
    display: block;
    height: 4px;
    background-color: #DC392D;
}
main{
    max-height: 88vh;
    overflow: auto;
}
main header{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F8F9FA;
}
main header .start {
    width: 1100px;
    margin: 0 auto;
}
main header .start div h4{
    font-size: 30px;
    font-family: sans-serif;
    margin-right: 70px;
}
main header .start div .home{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-bottom: 3px;
    margin-right: 20px;
}
main header .start div .about{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    margin-bottom: 3px;
    margin-right: 20px;
}
main header .start div .dropdown a{
    color: gray;
    text-decoration: none;
    font-size: 20px;
} 
main header .start button{
    padding: 8px 15px;
    background-color: #F8F9FA;
    border-radius: 5px;
    font-size: 20px;
}
main header .start button img{
    margin-right: 15px;
}

main header .start button .noll{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    display: block;
    color: white;
    margin-left: 15px;
}
main #section-1{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #212529;
}
main #section-1 h2{
    color: white;
    font-size: 80px;
    font-family: sans-serif;
}
main #section-1 p{
    font-size: 28px;
    color: #909294;
}
main #section-2{
    background-color: white;
}
main #section-2 .container{
    width: 1150px;
    padding-top: 100px;
    padding-bottom: 100px;
}
main #section-2 .container .d-flex .card{
    width: 330px;
    position: relative;
}
main #section-2 .container .d-flex .card .sale{
    width: 50px;
    height: 25px;
    border-radius: 5px;
    display: block;
    background-color: black;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}
main #section-2 .container .d-flex .card img{
    width: 100% !important;
    height: 200px !important;
    background-color: #DEE1E6;
}
main #section-2 .container .d-flex .card .card-body .d-flex{
    margin-top: 10px;
    margin-bottom: 10px;
}
main #section-2 .container .d-flex .card .card-body .d-flex img{
    width: 20px !important;
    height: 20px !important;
    background-color: white;
}
main #section-2 .container .d-flex .card .card-body p{
    font-size: 22px;
}
main #section-2 .container .d-flex .card .card-body a{
    border: 1px solid black;
    font-size: 22px;
}
